<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <% if (user && user.image) { %>
        <img
          src="http://localhost:3004/<%= user.image %>"
          class="img-circle elevation-2"
          alt="User Image"
          style="object-fit: cover; width: 40px; height: 40px"
        />
        <% } else { %>
        <img
          src="https://www.shutterstock.com/image-vector/avatar-guest-icon-260nw-1351831577.jpg"
          class="img-circle elevation-2"
          alt="Default User Image"
          style="object-fit: cover; width: 40px; height: 40px"
        />
        <% } %>
      </div>
      <div class="info">
        <% if (user && user.first_name) { %>
        <a href="#" class="d-block"><%= user.first_name %></a>
        <% } else { %>
        <a href="#" class="d-block">Guest</a>
        <% } %>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              <%= user.role %> section
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
